:root {
  --bg-color: #1f3837;
  --text-color: #E3E3E3;
  --accent-color: #3BD16F;
  --block-bg: #2e4745;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

header {
  margin-top: 2rem;
  text-align: center;
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin-top: -1.8rem;
}

a {
  text-decoration: none; 
}

p {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
  width: 100%;
  max-width: 900px;
}

.project-block {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--block-bg);
  padding: 1.5rem;
  border-radius: 8px;
  transition: background 0.3s ease;
  transform: translateY(-20px);
  animation: fadeSlideIn 0.8s ease forwards;
}

.project-block:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.project-image img {
  max-width: 200px;
  height: auto;
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}

.project-text p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

.project-block:nth-child(1) {
  animation-delay: 0.2s;
}

.project-block:nth-child(2) {
  animation-delay: 0.4s;
}

.project-block:nth-child(3) {
  animation-delay: 0.6s;
}

@media (max-width: 768px) {
  .project-block {
    flex-direction: column;
    text-align: center;
  }

  .project-image img {
    margin: 0 0 1rem 0;
  }

	h1 {
    font-size: 3rem;
  }
}

/* Secctions below currently not being used because can be used to make blocks that sit nicely next to each other for underneath the main articles. */

.grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  width: 100%;
  max-width: 600px;
}

.block {
  background-color: var(--block-bg);
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  transition: background 0.3s ease;
}

.block:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.block img {
  max-width: 250px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .grid {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .block {
    width: 250px;
  }
}
